* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/pattern.png);
    width: 100vw;
    height: 18vh;
    background-color: rgb(1, 147, 214);
    position: relative;
}

.logo {
    width: 350px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.main-title {
    font-size: 50px;
}

main {
    margin-left: 40px;
    margin-top: 5px;
    margin-right: 40px;
    /* margin-left: 15%; BONUS */
    /* margin-right: 15%; BONUS */
}

.subheading, {
    color: rgba(50, 50, 50, 0.8);
    font-size: 15px;
}

.article-writer {
    color: rgb(76, 174, 255);
}

.images-knight-foundation {
    margin-top: 15px;
}

.images-description {
    color: rgb(0, 0, 0)
}

.main-article {
    margin-top: 15px;
    font-size: 25px;
}

.unordered-list {
    margin-top: 50px;
    font-size: 25px;
    margin-left: 25px;
}

.table {
    text-align: left;
    margin-top: 40px;
    font-size: 25px;
}

.header-row {
    background-color: rgb(10, 117, 204);
    color: white;
}

.lightblue-row {
    background-color: lightblue;
}

.yellow-background {
    background-color: yellow;
}

.you-might-like {
    font-size: 25px;
    color: grey;
    font-weight: bold;
    margin-top: 30px;
}

.adv-image {
    margin-top: 20px;
}