* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/pattern.png);
    width: 100vw;
    height: 18vh;
    background-color: rgb(1, 147, 214);
    position: relative;
}

.logo {
    width: 250px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}