* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/pattern.png);
    width: 100vw;
    height: 18vh;
    background-color: rgb(1, 147, 214);
    position: relative;
}

.logo {
    width: 250px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

main {
    margin-left: 15px;
    margin-top: 5px;
}

.subheading {
    color: rgba(50, 50, 50, 0.8)
}

.article-writer {
    color: rgb(76, 174, 255);
}

.images-knight-foundation {
    margin-top: 15px;
}

.images-description {
    color: rgb(0, 0, 0)
}